<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>alef</key>
  <dict>
    <key>yod</key>
    <integer>21</integer>
  </dict>
  <key>he</key>
  <dict>
    <key>shin</key>
    <integer>-58</integer>
  </dict>
  <key>lamed</key>
  <dict>
    <key>alef</key>
    <integer>-34</integer>
    <key>bet</key>
    <integer>-60</integer>
  </dict>
  <key>pe</key>
  <dict>
    <key>resh</key>
    <integer>11</integer>
  </dict>
  <key>resh</key>
  <dict>
    <key>shin</key>
    <integer>-23</integer>
    <key>tsadi</key>
    <integer>23</integer>
    <key>vav</key>
    <integer>26</integer>
  </dict>
  <key>shin</key>
  <dict>
    <key>het</key>
    <integer>21</integer>
    <key>pe</key>
    <integer>21</integer>
    <key>tav</key>
    <integer>46</integer>
  </dict>
  <key>tav</key>
  <dict>
    <key>vav</key>
    <integer>21</integer>
  </dict>
  <key>vav</key>
  <dict>
    <key>het</key>
    <integer>-18</integer>
  </dict>
  <key>yod</key>
  <dict>
    <key>tav</key>
    <integer>-12</integer>
  </dict>
</dict>
</plist>
